


body {
  background-color: #E6E6FA;
  height: 100%;
  width: 100%;


}

html { 
  font-size: 16px;
}


header {
  width: 100%;
  height: 120px;
  background-color: #964170;
ma
}

.logo{
  width: auto;
  height: 120px;
  float: left;
}

.text_lambo{
  float: left;
  margin-left: 50%;
  margin-top: 35px;
  position: absolute;
}



.sign{
  width: 105px;
  height: 40px;
  background-color: #E6E6FA;
  border-bottom: 3px solid #b886a8;


}
.sign h2,.reg h2{
  margin-top: 5px;
  text-align: center;
}

.reg{
  width: 170px;
  height: 40px;
  background-color: #E6E6FA;
  border-bottom: 3px solid #b886a8;
}







.menu {
  height: auto;
  float: left;
  margin-top: 50px;
  margin-left: 3%;
  background-color: #964170;
}
  
.podpunkt{
  height:  auto;
  background-color: #964170;
  display:none;
  text-align: center;
  position: absolute;
}

.car-obc { 
  width: 75%;
  height: auto;
  float: right;
  margin-top: 50px;

}

.car1,.car2{
  width: 100%;
  height: auto;
  float: left;
}

.car1-name,.car2-name{
  width: 100%;
  height: auto;
  float: left;
  background-color: #964170;
}
.car1-money,.car2-money{
  width: 100%;
  height: auto; 
  float: left;
  background-color: #964170;
  margin-top: 15px;
}
.car1-obc,.car2-obc{
  width: 100%;
  height: auto;
  float: left;
  background-color: #964170;
  margin-top: 15px;
}

.car1-obc-xar{
  width: 100%;
  height: auto;
  display: none;
  float: left;
}

.car1-obc-info{
  height:  auto;
  background-color: #b886a8;
  float: left;
}

.car2-obc-info{
  height: auto;
  background-color: #b886a8;
  float:left;
}

.car2-obc-xar{
  width: 100%;
  height: auto;
  display: none;
  float: left;
}



.End
{
  height: auto;
  width: 100%;
  background-color: #873265;
  float: left;
  bottom: 0px;
  margin-top: 50px;
}
.End h3 {
  margin-left: 25px;
  margin-left: 15%;
}
.text_footer{
  width: 75%;
  height: auto;
  margin-left: 15%;
}
.text_footer1, .text_footer2, .text_footer3, .text_footer4, .text_footer5 {
  margin-left: 25px;
  float: left;
}
.raspolog{
  width: auto;
  height: 35px;
}
.poisk{
  width: 250px;
  height: 40px;
  background-color: rgb(255, 235, 153);
  border-bottom: 3px solid #ffcc00;
  float: left;
  margin-top: 35px;
  margin-left: 40px;
}

.news{
  width: 250px;
  height: 40px;
  background-color: rgb(255, 235, 153);
  border-bottom: 3px solid #ffcc00;
  float: left;
}

.reg-sing-windows{
  width: 250px;
  height: 40px;
  background-color: rgb(255, 235, 153);
  border-bottom: 3px solid #ffcc00;
  margin-top: 15px;
}
.register{
  width: 295px;
  height: 250px;
  background-color: #964170;
  top: 140px;
  position: absolute;
  display:none;
  right: 0px;
}
.sign-obc{
  width: 295px;
  height: 190px;
  background-color: #964170;
  top: 140px;
  position: absolute;
  display: none;
  right: 0px;
  }
.sign-obc input[type="submit"],.register input[type="submit"]{
  background-color: rgb(255, 235, 153);
  margin-top: 15px;
  margin-left: 30px;
}
.form1{
  width: 100%;
  height: 100%;
  margin-left: 8%;
}

input, button {
  border: none;
  outline: none;
  background: transparent;
}
input {
  width: 193px;
  height: 40px;
}
button {
  height: 42px;
  width: 42px;
  float: right;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 20px;
  color: #be290e;
}


@media(max-width: 1920px) {
  .menu {
    width: 10%;
  }
  .podpunkt{
   width: 10%;
  }
  .car1-obc-info{
    width: 49%;
  }
  .car2-obc-info{
    width: 49%;
    margin-left: 15px;
  }
  .reg,.sign {
    margin-top: 35px;
    margin-right: 40px;
    float: right;
  }
  .car-obc{
    margin-right: 7%;
  }
}

@media(max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media(max-width: 1030px) {
  html {
    font-size: 13px;
  }
  .menu,.podpunkt {
    width: 17%;
  }
  .car1-obc-info{
    width: 85%;
  }
  .car2-obc-info{
    margin-left: 0px;
    width: 85%;
    margin-top: 10%
  }
   .car-obc{
    margin-right: 1%;
    width: 70%;
  }

}

@media(max-width: 853px) {
  .reg,.sign {
    margin-top: 12px;
  }
  .poisk{
    margin-top: 12px;
  }
}

@media(max-width: 600px) {
  .reg,.sign {
    margin-top: 12px;
    margin-right: 10px;
  }
   .poisk{
    margin-top: 12px;
    margin-left: 10px;
  }
}
